<h1>About</h1>
<div class="row col-md-12">
  <p>Created for the <a href="https://www.ministryoftesting.com/events/test-automation-for-product-managers">Test Automation for Product Managers</a> Workshop.</p>
</div>